@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

:root {
  /* COLORES */
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --price-time: #f8f9f1;
}

body {
  width: 100%;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-brand {
  display: flex;
  gap: 10px;
}

.d-flex {
  width: 90%;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
}

/* PASARELA LOGOS */
@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.logos {
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  background: var(--light);
  white-space: nowrap;
}

.logos::before,
.logos::after {
  position: absolute;
  width: 250px;
  height: 110px;
  content: "";
  z-index: 2;
}

.logos::before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
}

.logos::after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
}

.logos:hover .logos__slide {
  animation-play-state: paused;
}

.logos__slide {
  display: inline-block;
  animation: 20s slide infinite linear;
}

.logos__slide img {
  height: 90px;
  margin: 0 10px;
  filter: grayscale(100%);
}

.logos__slide img:hover {
  filter: grayscale(0%);
}

/* *PRODUCTOS VERSION WEB */

.product {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
}

.product__title h2 {
  font-size: 30px;
  color: #626262;
  margin: 20px;
}

.product__container {
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: start;
}

.card__container a {
  background-color: #ffffff;
  width: 100%;
  max-width: 250px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__container a img {
  width: 100%;
}

.card__container .tittle {
  padding: 0 10px;
  text-align: justify;
  font-size: 17px;
  width: 100%;
}

.card__price {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card__price img {
  height: 25px;
}

.card__price span {
  padding: 10px 0 0 0;
  font-size: 23px;
  font-weight: 600;
}

.card__time span {
  font-size: 23px;
  padding: 20px;
}

/* *FOOTER */

footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--gray-dark);
}

.footer__brnad a {
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  color: var(--light);
}

.footer__brnad_iconos {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer__brnad_iconos li a {
  font-size: 25px;
}

/* *PAGINA DE PRODUCTO WEB */

.product2 {
  width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px 0 30px;
  margin: 20px auto 10px auto;
  border-radius: 20px;
  background-color: #fff;
}

.product2__img {
  align-items: normal;
  width: 40%;
}

.product2__img img {
  width: 100%;
}

.product2__info {
  width: 60%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.price__time {
  width: 100%;
  margin: 10px 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.price__time .price img {
  width: 35px;
}

.price__time .price,
.time {
  padding: 0 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.price__time i,
span {
  font-size: 25px;
  color: var(--dark);
  font-weight: 500;
}

.product2__share {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
}

.compartir ul {
  display: flex;
  gap: 10px;
}

.product2__share .compartir,
.deseos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.compartir span {
  font-size: 18px;
  color: #177deb;
}

.compartir .facebook {
  border: none;
  font-size: 30px;
  color: var(--gray);
  background-color: transparent;
}

.compartir .facebook:hover {
  color: #007bff;
}

.compartir .whatsapp {
  border: none;
  font-size: 30px;
  color: var(--gray);
  background-color: transparent;
}

.compartir .whatsapp:hover {
  color: #28a745;
}

.compartir .share {
  border: none;
  font-size: 30px;
  color: var(--gray);
  background-color: transparent;
}

.compartir .share:hover {
  color: #9227EC;
}

.deseos span {
  font-size: 18px;
  color: #177deb;
}

.deseos .favorite {
  border: none;
  font-size: 30px;
  color: var(--gray);
  background-color: transparent;
}

.deseos .favorite:hover {
  color: var(--danger);
}

.product2__data span {
  font-size: 20px;
  color: var(--gray);
}

small {
  margin-bottom: 10px;
  color: #999999;
}

.product2__data .orden {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
}

.btn-primary {
  border: none;
  background: #9227EC;
  width: 350px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 15px;
  margin: 10px;
}


/* *DESCRIPCION */

.container_tab {
  width: 1200px;
  padding: 0 30px 0 30px;
  margin: 20px auto 10px auto;
  background-color: #fff;
  border-radius: 20px;
}

.tab__box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgba(229, 229, 229);
  position: relative;
}

.tab__box .line {
  position: absolute;
  top: 62px;
  left: 187px;
  width: 90px;
  height: 4px;
  background-color: #9227EC;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.tab__box .tab_btn {
  font-size: 18px;
  font-weight: 600;
  color: var(--gray);
  background: none;
  border: none;
  padding: 18px;
  cursor: pointer;
}

.tab__box .tab_btn.active {
  color: #9227EC;
}

.content__box {
  padding: 20px;
}

.content__box .content {
  display: none;
  animation: moving 0.5s ease;
}

@keyframes moving {
  from {
    transform: translateX(50px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.content__box .content.active {
  display: block;
}

.content__box .content h2 {
  margin-bottom: 10px;
}


/* *GSMHELP ISP */
.img__section {
  width: 1200px;
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.img__section .selectores {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.img__section .selectores select{
  width: 45%;
  font-size: 20px;
  color: #343a40;
}

.img__section .imagen{
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img__section .imagen img{
  cursor: grab;
  transition: transform 0.5s;
}

.img__section .imagen img.grabbing{
  cursor: grabbing;
}



.img__section .imagen.zoomed img {
  transform: scale(2);
}


@media screen and (max-width: 990px) {

  
  
/* *GSMHELP ISP */
.img__section {
  width: 990;
}

.img__section .selectores{
  width: 100%;
  align-items: center;
}

.img__section .selectores select{
width: 80%;
}


  /* *PRODUCTOS VERSION WEB */

  .product {
    width: 100%;
  }

  .product__title h2 {
    font-size: 25px;
  }


  /* *PRECIOS PRODUCTOS */

  .price__time .price img {
    width: 25px;
  }


  .price__time .price,
  .time {
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }


  .price__time i,
  span {
    font-size: 18px;
    color: var(--dark);
    font-weight: 500;
  }


  .product2__share {
    padding: 0px;
    margin-bottom: 0px;
    gap: 20px;
  }


  .product2__share .compartir {
    margin: 0 auto;
  }

  .product2__share .compartir span {
    display: none;
  }


  .product2__share .deseos {
    justify-content: space-around;
  }


  .product2__share .deseos .text span {
    font-size: 15px;
    text-align: center;
  }

  .container_tab {
    width: 100%;
  }



}

@media screen and (max-width: 770px) {

  
/* *GSMHELP ISP */
.img__section {
  width: 770px;
}

.img__section .selectores{
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.img__section .selectores select{
width: 80%;
}



  /* *PRODUCTOS 770 */

  .product {
    width: 100%;
    padding: 0 20px;
  }

  .product__title h2 {
    font-size: 20px;
    text-align: center;
  }


  /* *PAGINA DE PRODUCTO WEB */

  .product2 {
    width: 100%;
    flex-direction: column;
  }

  .product2__img {
    align-items: normal;
    width: 100%;
  }

  .product2__img img {
    width: 100%;
  }

  .product2__info {
    width: 100%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {

  
/* *GSMHELP ISP */
.img__section {
  width: 90%;
}


.img__section .image img{
  width: 100%;
}

/**/

  .d-flex {
    width: 80%;
    justify-content: center;
    margin: 10px auto 0 auto;
  }

  .slide {
    width: 95%;
    margin: 16px auto;
  }

  .carousel-item img {
    border-radius: 15px;
  }

  /* slide marcas*/

  .logos__slide img {
    filter: grayscale(0%);
  }

  /* *PRODUCTOS movil */

  .product__title h2 {
    font-size: 18px;
    text-align: center;
  }

  .product__container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
  }


  .product__container a {
    width: 150px;
    max-width: 150px;
    margin: 10px;
  }

  .card__container .tittle {
    font-size: 15px;
    text-align: initial;
  }

  .card__price {
    gap: 10px;
  }

  .card__price img {
    height: 20px;
  }

  .card__price span {
    font-size: 18px;
  }

  .card__time span {
    font-size: 18px;
  }

  /*footer responsive*/

  footer {
    padding: 5px 0px 0px 0px;
    text-align: center;
    background-color: var(--gray-dark);
    bottom: 0;
    display: flex;
    justify-content: center;
  }

  .footer__brnad a {
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    color: var(--light);
  }

  .footer__brnad_iconos {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .footer__brnad_iconos li a {
    font-size: 15px;
  }

  /* *PAGINA DE PRODUCTO RESPONSIVE */

  .product2 {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .product2__img img {
    width: 100%;
  }

  .product2__info {
    width: 100%;
    margin: 20px;
    padding: 0 15px;
    text-align: center;
    flex-direction: column;
  }

  .price__time {
    margin-bottom: 10px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .price__time IMG {
    width: 25px;
  }

  .price__time .price,
  .time {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }


  .product2__share {
    width: 100%;
  }

  .compartir span {
    display: none;
  }

  .compartir .facebook {
    border: none;
    font-size: 25px;
    color: #007bff;
    background-color: transparent;
  }

  .compartir .whatsapp {
    border: none;
    font-size: 25px;
    color: #28a745;
    background-color: transparent;
  }

  .compartir .share {
    border: none;
    font-size: 25px;
    color: #343a40;
    background-color: transparent;
  }

  .deseos span {
    font-size: 18px;
    color: #177deb;
  }

  .deseos .favorite {
    border: none;
    font-size: 30px;
    color: var(--dark);
    background-color: transparent;
  }

  .product2__data {
    margin-bottom: 20px;
    width: 100%;
    flex-direction: column;
    text-align: justify;

  }

  .product2__data span {
    font-size: 20px;
  }

  .product2__data .orden {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* *DESCRIPCION */

  .container_tab {
    width: 100%;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
  }

  .tab__box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgba(229, 229, 229);
    position: relative;
  }

  .tab__box .line {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 55px;
    height: 4px;
    background-color: #6610f2;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
  }

  .tab__box .tab_btn {
    padding: 10px;
    font-size: 15px;
  }

}