@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #27292B;
    font-family: "Poppins", sans-serif;
}

:root {

    /* COLORES */
    --color-iconos1: #1DC4D4;
    --color-iconos2: #FFC600;
}


@media screen and (max-width: 550px) {

    body{
        overflow: hidden;
    }

    /* MENU MOBILE */

    .container {
        margin: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bx {
        color: var(--color-iconos2);
        font-size: 30px;
    }

    .abrir-menu,
    .cerrar-menu,
    .modo-dark {
        display: block;
        background-color: transparent;
        border: none;
    }

    .menu__nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #2a4162;
        padding: 35PX;
        box-shadow: 0 0 0 100vmax rgba(36, 105, 140, 0.5);
    }

    .menu__nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .menu__nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .menu__nav__list a {
        color: aliceblue;
    }

    .container .menu__logo {
        display: flex;
        align-items: center;
        gap: 5px;

    }

    .container .menu__logo img {
        width: 35px;
    }

    .container .menu__logo p {
        color: aliceblue;

    }

    .search {
        margin-top: 15px;
        justify-content: center;
    }

    input {
        width: 300px;
        height: 20px;
        border: none;
        background: #1a1b1d;
        border-radius: 10px;
        text-align: center;
        color: #7b7a7a;
        font-size: 15px;
        padding: 10px;
    }

    input:focus {
        outline: none;
    }

    .categorias {
        margin: 15px 10px;
        gap: 10px;
    }

    .categorias a {
        gap: 10px;
        background: #1a1b1d;
        border-radius: 10px;
        padding: 0 10px;
    }

    .categorias .ca_1 {
        background: var(--color-iconos2);
    }

    .categorias a h3 {
        color: aliceblue;
        font-size: 15px;
    }

    .categorias .ca_1 h3 {
        color: #27292B;
    }

    /* PRODUCTOS */

    .products {
        margin: 0 10px;
        display: flex;
        gap: 1pc;
    }

    .product__1 {
        width: 125px;
        height: 150px;
        background: #2a4162;
        text-align: center;
    }

    .product__1 .like {
        position: absolute;
    }

    .product__1 img {
        width: 90px;
    }

    .product__1 .tittle h2 {
        color: aliceblue;
        font-size: 12px;
        font-family: 'Lucida Sans', sans-serif;
    }

    .product__1 .btn_c {
        width: 125px;
        height: 30px;
        border-radius: 10px;
        text-align: center;
        background: var(--color-iconos2);
        flex-direction: ;

    }

    .product__1 a h2 {
        color: #1a1b1d;
        font-size: 15px;
        font-weight: 600;
    }
}